################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/poc.clould.azurefunction/Properties/PublishProfiles
